@import "style-headers.css";

@font-face {
    font-family:"Parisienne";
    src: url("Parisienne-Regular.ttf") format("truetype");
  }

@font-face {
    font-family:"GloriaHallelujah";
    src: url("GloriaHallelujah.ttf") format("truetype");
}

main {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-image: url("../images/trivialback.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header-block {
    min-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 8%;
}

#main-title{
    font-family: 'Parisienne', Times, serif;
    font-size: 4em;
}

#timer-block {
    min-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 4%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .question {
    min-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    font-family: 'GloriaHallelujah', Times, serif;
 }

 .answer {
    margin-top: 1%;
    min-width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'GloriaHallelujah', Times, serif;
 }

 .end-result{
    min-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
 }

 .question-result{
    min-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
 }

#game-block {
    display: block;
}

#question-results-block {
    display: none;
}

 #game-results-block {
     display: none;
 }

 #play-again-button {
    max-width: 80%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
 }
